<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FreeSpire.Doc" version="7.11.0" targetFramework="net472" />
  <package id="jieba.NET" version="0.42.2" targetFramework="net472" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
</packages>